{{extend 'layout.html'}}
<h2>{{=grid_name}}</h2>

{{if request.args(0) == 'new':}}
    {{grid[1][0][1][2].append(INPUT(_id='map-search'))}}
    {{grid[1][0][1][2].append(DIV(
        _style="width: 500px; height: 500px;", _id='map-canvas'))}}
{{elif request.args(0) == 'edit':}}
    {{grid[1][0][2][2].append(INPUT(_id='map-search'))}}
    {{grid[1][0][2][2].append(DIV(
        _style="width: 500px; height: 500px;", _id='map-canvas'))}}
{{pass}}

{{=grid}}


<script type="text/javascript">
    var map;
    var geoCoder = new google.maps.Geocoder();
    var initLon = $('#events_lon').val() || 47.470047;
    var initLat = $('#events_lat').val() || 19.06042;
    var initLatLng = new google.maps.LatLng(initLon, initLat);
    function initialize() {

        // Map options
        var mapOptions = {
            zoom: 13,
            center: initLatLng};
            map = new google.maps.Map(
                document.getElementById('map-canvas'),
                mapOptions);

        // Initial marker for infopark
        var marker = new google.maps.Marker({
            position: initLatLng,
            map: map,
            draggable:true,
            title: "Infopark Budapest",
            clickable: false,
        });

        /* Search input */
        var input = (document.getElementById('map-search'))
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();

        //** Event listeners **//
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            infowindow.close();
            var place = autocomplete.getPlace();
            // If no geometry
            if (!place.geometry) {
                window.alert("Cannot find place");
            }
            // if place has geometry
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            }
            else {
                map.setCenter(place.geometry.location);
                map.setZoom(13);
            }
            marker.setPosition(place.geometry.location);

            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }
            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
            infowindow.open(map, marker);
            fillForm(
                place.geometry.location.A, place.geometry.location.F, address);
        }); // end of autocompletelistener



        /* Event called on drag stop*/
        google.maps.event.addListener(marker, 'dragend', function() {
            console.log(marker.position);
            infowindow.close();
            var address = '';
            geoCoder.geocode({'latLng': marker.position}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                    // console.log(results[1]);
                        if (results[1]){
                            address = results[1].formatted_address;
                            infowindow.setContent('<div><strong>' + address + '</strong>');
                            fillForm(marker.position.A, marker.position.F, address);
                            }
                        }
            });
            infowindow.open(map, marker);
        });

        google.maps.event.addListener(map, 'click', function(event) {
            infowindow.close();
            // marker.setVisible(true);
            var address = '';
            geoCoder.geocode({'latLng': event.latLng}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                    // console.log(results[1]);
                        if (results[1]){
                            address = results[1].formatted_address;
                            infowindow.setContent('<div><strong>' + address + '</strong>');
                            fillForm(event.latLng.A, event.latLng.F, address);
                            }
                        }
            });
            marker.setPosition(event.latLng);
            infowindow.open(map, marker);
        });
    }

    function fillForm(lon, lat, address) {
        console.log('Address: ' + address);
        $('#events_location').val(address);
        $('#trips_start_address').val(address);
        $('#events_lon').val(lon);
        $('#trips_lon').val(lon);
        $('#events_lat').val(lat);
        $('#trips_lat').val(lat);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
