{{extend 'layout.html'}}
<h1>{{=event.event_name}} - {{=event.start_datetime}}</h1>
<h2>{{=event.location}}</h2>
<div class="row">
    <div class="span12">
        <div style="width: 1024px; height: 400px;" id="event-location"></div>
    </div>
    <div class="span6">
        <p>{{=event.agenda}}</p>
    </div>
    <div class="span6">
        <p><b>Cars: </b>{{=len(trips)}}</p>
        <p><b>Total Passangers: </b>{{=passgers}}</p>
    </div>
<!--     <div class="span3">
        <div>Location Map</div>
        <p>map</p>
    </div> -->
</div>


<hr>

<h3>Cars</h3>
{{=trips_divs}}
<!-- <div class="row">
    <div class="span6">
        {{#=trips_div}}
    </div>
    <div class="span6">
        map
    </div>
</div> -->

<script type="text/javascript">

    $(document).ready(function(){
        event_location_map()
        trip_maps()
    });






    // var directionsDisplay;
    // var map;
    var directionsService = new google.maps.DirectionsService();
    var event_location = new google.maps.LatLng({{=event.lon}}, {{=event.lat}});
    var markers = [];
// event_map
    function event_location_map() {
        // directionsDisplay = new google.maps.DirectionsRenderer();

        var mapOptions = {
            zoom: 13,
            center: event_location
        };
        var map = new google.maps.Map(
            document.getElementById('event-location'),
            mapOptions
        );

        addMarker(event_location, map);
    }

    function addMarker(location, map) {
        // console.log(location);
        var marker = new google.maps.Marker({
            position: location,
            map: map,
            draggable:true,
            title: "",
            clickable: false,
        });
        markers.push(marker);
        return marker;
    }

    function trip_maps() {
        $('.trip_map').each(function(i, obj) {
            // console.log(obj)
            // console.log($(this).attr('id'))
            // console.log($(this).attr('s_lon'))
            // console.log($(this).attr('passangers'))
            // x = JSON.parse($(this).attr('passangers'))
            console.log($(this).attr('id') + "_passangers")
            var wpoints = []
            $("." + $(this).attr('id') + "_passangers").each(function(j, obj) {
                console.log($(this).attr('s_lon'))
                var pos = new google.maps.LatLng($(this).attr('s_lat'), $(this).attr('s_lon'));
                wpoints.push({location: pos, stopover: true});
            });
            console.log("wpoints");
            console.log(wpoints);
            // for (var i = markers.length - 1; i >= 0; i--) {
            //     // console.log(markers[i].position);
            //     wpoints.push({location: markers[i].position, stopover: true});
            // };
            trip_map($(this).attr('id'), $(this).attr('s_lat'), $(this).attr('s_lon'), wpoints)
            //test
        });
        // collect trip_map class divs
        // extract locations
        // for each trip generate the map
    }

    function trip_map(cid, lat, lon, wpoints) {
        var loc = new google.maps.LatLng(lat, lon);
        // var directionsDisplay = new google.maps.DirectionsRenderer();

        var mapOptions = {
            zoom: 13,
            center: loc
        };
        var map2 = new google.maps.Map(
            document.getElementById(cid),
            mapOptions
        );

        // addMarker(loc, map2);
        calcRoute(loc, event_location, map2, wpoints)
    }

    /* Function to calculate route */
    function calcRoute(sp, ep, map, wpoints) {

        // var wpoints = []
        // console.log(google.maps);
        // for (var i = markers.length - 1; i >= 0; i--) {
        //     // console.log(markers[i].position);
        //     wpoints.push({location: markers[i].position, stopover: true});
        // };
        // console.log(wpoints.toString())
        console.log(wpoints)
        var start = sp;
        var end = ep;
        // var end = wpoints[wpoints.length - 1];
        var request = {
            origin: start,
            destination: end,
            waypoints: wpoints,
            optimizeWaypoints: true,
            travelMode: google.maps.TravelMode.DRIVING
        };
        var directionsService = new google.maps.DirectionsService();
        directionsService.route(request, function(result, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(result);
            }
        });
        var directionsDisplay = new google.maps.DirectionsRenderer();
        directionsDisplay.setMap(map);
    }




    // event center
    // event_map

// trip maps


    // var directionsDisplay;
    // var map;
    // var directionsService = new google.maps.DirectionsService();
    // var markers = [];

    // function initialize() {
    //     directionsDisplay = new google.maps.DirectionsRenderer();

    //     var infoParkLatLng = new google.maps.LatLng({{=event.lon}}, {{=event.lat}});

    //     // Map options
    //     var mapOptions = {
    //         zoom: 13,
    //         center: event_location};
    //         map = new google.maps.Map(
    //             document.getElementById('event-location'),
    //             mapOptions);

    //     // Initial marker for infopark
    //     /*var marker = new google.maps.Marker({
    //         position: infoParkLatLng,
    //         map: map,
    //         draggable:true,
    //         title: "Infopark Budapest",
    //         clickable: false,
    //     });*/
    //     addMarker(infoParkLatLng);

    //     /* Search input */
    //     var input = (document.getElementById('map-search'))
    //     map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    //     var autocomplete = new google.maps.places.Autocomplete(input);
    //     autocomplete.bindTo('bounds', map);

    //     var infowindow = new google.maps.InfoWindow();


    //     //** Event listeners **//
    //     google.maps.event.addListener(autocomplete, 'place_changed', function() {
    //         infowindow.close();
    //         var place = autocomplete.getPlace();
    //         // If no geometry
    //         if (!place.geometry) {
    //             window.alert("Cannot find place");
    //         }
    //         // if place has geometry
    //         if (place.geometry.viewport) {
    //             map.fitBounds(place.geometry.viewport);
    //         }
    //         else {
    //             map.setCenter(place.geometry.location);
    //             map.setZoom(17);
    //         }
    //         /*marker.setIcon(({
    //             url: place.icon,
    //             size: new google.maps.Size(71, 71),
    //             origin: new google.maps.Point(0, 0),
    //             anchor: new google.maps.Point(17, 34),
    //             scaledSize: new google.maps.Size(35, 35)
    //            }));*/
    //         var marker = addMarker(place.geometry.location);

    //         var address = '';
    //         if (place.address_components) {
    //             address = [
    //                 (place.address_components[0] && place.address_components[0].short_name || ''),
    //                 (place.address_components[1] && place.address_components[1].short_name || ''),
    //                 (place.address_components[2] && place.address_components[2].short_name || '')
    //             ].join(' ');
    //         }
    //         infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
    //         infowindow.open(map, marker);
    //     }); // end of autocompletelistener


    //     /* Event called when marker clicked
    //     google.maps.event.addListener(marker, 'click', function() {
    //         calcRoute(marker.position);
    //     }); */

    //     /* Event called on drag stop
    //     google.maps.event.addListener(marker, 'dragend', function() {
    //         console.log(marker.position);
    //         calcRoute(marker.position);
    //     });*/

    //     google.maps.event.addListener(map, 'click', function(event) {
    //         addMarker(event.latLng);
    //     });

    //     directionsDisplay.setMap(map);
    // }


    // /* Function to calculate route */
    // function calcRoute(sp) {
    //     var start = sp;
    //     var end = new google.maps.LatLng(47.5559415, 21.5871233)
    //     var request = {
    //         origin: start,
    //         destination: end,
    //         travelMode: google.maps.TravelMode.DRIVING
    //     };
    //     directionsService.route(request, function(result, status) {
    //         if (status == google.maps.DirectionsStatus.OK) {
    //             directionsDisplay.setDirections(result);
    //         }
    //     });
    // }

    // function addMarker(location) {
    //     // console.log(location);
    //     var marker = new google.maps.Marker({
    //         position: location,
    //         map: map,
    //         draggable:true,
    //         title: "",
    //         clickable: false,
    //     });
    //     markers.push(marker);
    //     return marker;
    // }
    // google.maps.event.addDomListener(window, 'load', initialize);

</script>