{{extend 'layout.html'}}

<input name="search", id="map-search">


<div style="width: 1024px; height: 768px;" id="map-canvas"></div>
<button id="calcroute-button">Calculate Route</button>
<button id="clearroute-button">Clear Route</button>
