{{extend 'layout.html'}}
{{=wpoint_ul}}
<input name="search", id="map-search">
<button id="selectLocation">Join at this location</button>
<div style="width: 1024px; height: 768px;" id="map-canvas"></div>

<script type="text/javascript">
    var map;
    var directionsDisplay = new google.maps.DirectionsRenderer();
    var directionsService = new google.maps.DirectionsService();
    var initPoint = new google.maps.LatLng({{=s_lon}}, {{=s_lat}});
    var geoCoder = new google.maps.Geocoder();
    var cplace
    // console.log(initPoint);
    function initialize() {

    // Map options
    var mapOptions = {
        zoom: 13,
        center: initPoint};
        map = new google.maps.Map(
            document.getElementById('map-canvas'),
            mapOptions);

    // Initial marker
    var marker = new google.maps.Marker({
        position: initPoint,
        map: map,
        draggable:true,
        title: "",
        clickable: false,
        visible: false
    });

    /* Search input and listener*/
    var input = (document.getElementById('map-search'))
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo('bounds', map);

    // Select location button and event listener
    var selectLocButton = document.getElementById('selectLocation');
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(selectLocButton);
    google.maps.event.addDomListener(
        selectLocButton, 'click', function() {
            alert(marker.position)

            x = '{{=URL("default", "join_trip", args=[request.args(0), request.args(1)])}}'
            window.location = x + "/" + marker.position.A + "/" + marker.position.F + "?join_address=" + cplace
        });

    var infowindow = new google.maps.InfoWindow();

    //** Event listeners **//
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
        infowindow.close();
        var place = autocomplete.getPlace();
        // If no geometry
        if (!place.geometry) {
            window.alert("Cannot find place");
        }
        // if place has geometry
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        }
        else {
            map.setCenter(place.geometry.location);
            map.setZoom(13);
        }
        marker.setPosition(place.geometry.location);
        console.log(marker)
        var address = '';
        if (place.address_components) {
            address = [
                (place.address_components[0] && place.address_components[0].short_name || ''),
                (place.address_components[1] && place.address_components[1].short_name || ''),
                (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
        }

        infowindow.setContent('<div><strong>' + place.name + '</strong></div><br>' + address);
        cplace = place.name
        marker.setVisible(true);
        infowindow.open(map, marker);
    }); // end of autocompletelistener

    google.maps.event.addListener(map, 'click', function(event) {
        infowindow.close();
        marker.setVisible(true);
        console.log(marker)
        geoCoder.geocode({'latLng': event.latLng}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                // console.log(results[1]);
                if (results[1]){
                    infowindow.setContent('<div><strong>' + results[1].formatted_address + '</strong></div>');
                    cplace = results[1].formatted_address
                }
            }
        });
        marker.setPosition(event.latLng);
        infowindow.open(map, marker);
    });

    directionsDisplay.setMap(map);
    var endPoint = new google.maps.LatLng({{=e_lon}}, {{=e_lat}});
    calcRoute(initPoint, endPoint);

}

function calcRoute(sp, ep) {
    var wpoints = [];
    $(".passangers").each(function(j, obj) {
       // console.log($(this).attr('s_lon'))
        var pos = new google.maps.LatLng($(this).attr('s_lon'), $(this).attr('s_lat'));
        wpoints.push({location: pos, stopover: true});
    });
    var start = sp;
    var end = ep;
    // var end = wpoints[wpoints.length - 1];
    var request = {
        origin: start,
        destination: end,
        waypoints: wpoints,
        optimizeWaypoints: true,
        travelMode: google.maps.TravelMode.DRIVING
    };
    directionsService.route(request, function(result, status) {
        if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(result);
        }
    });
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
